* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  width: 100vw;
  background: radial-gradient(ellipse at top, #c5d9c3, transparent),
              radial-gradient(ellipse at bottom, #3c6645, transparent);
}

body {
  min-height: 100vh;
}

.ctn-main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ctn-main .alert-red {
  background: #FF00001A;
  border: 1.5px solid #FF00002A;
  border-radius: 6px;
  box-shadow: 2px 2px 15px -10px black;
  color: #FF0000;
  font-size: 16px;
  font-weight: bold;
  margin: 0 30px 20px 30px;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 7px #FFF;
}

form.ctn-form {
  border: 1.5px solid #26a2696A;
  border-radius: 12px;
  box-shadow: 2px 2px 15px -10px black;
  height: 70%;
  margin: 2% 0;
  min-height: 485px;
  position: relative;
  width: 90%;
}

form.login-form {
  height: 50%;
  min-height: 365px;
}

.ctn-main table {
  border: 1.5px solid #26a2696A;
  border-radius: 12px;
  box-shadow: 2px 2px 15px -10px black;
  height: auto;
  min-height: auto;
  padding: 20px;
  width: 90%;
}

table thead {
  background: #0000003A;
  height: 40px;
  text-align: left;
}

table tbody {
  height: 100%;
}

tr th, tr td {
  max-width: 50%;
  padding: 3.33px;
}

pre {
  font-family: monospace;
  overflow-x: auto;
  white-space: pre-wrap;
}

.ctn-main #link-voltar {
  padding: 10px;
  width: 90%;
}

form.ctn-form h1 {
  background: #0000003A;
  border-bottom: 2px solid #26a2696A;
  border-radius: 12px 12px 0 0;
  color: white;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px black;
  width: 100%;
}

form.ctn-form .input-field {
  margin: 0 30px 20px 30px;
}

.input-field label,
.input-field input,
.input-field textarea {
  display: inline-block;
  font-size: 14px;
  outline: none;
  resize: none;
  width: 100%;
}

.input-field input,
.input-field textarea,
.input-submit input[type="submit"] {
  border: 1px solid #26a2696A;
  border-radius: 6px;
  box-shadow: 3px 3px 10px -6px black;
  padding: 8px
}

.input-field label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-submit {
  display: flex;
  justify-content: right;
  padding: 0 30px 10px 0;
}

.input-submit input[type="submit"] {
  background: #FFFFFF3A;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  min-width: 180px;
  text-transform: uppercase;
  width: 20%;
}

.input-submit input[type="submit"]:hover {
  background: #FFFFFF2A;
  text-shadow: 1px 1px 7px #FFF;
}

@media screen and (max-width: 750px) {
  .col-id, .col-email, .col-data, .col-senha {
    display: none;
  }
}


/*
Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.
*/
